.description-container {
    max-width: 400px;
    p {
        text-align: justify;
        color: rgba(0,0,0,.54);
    }
}

.qr-container {
    padding: 76px 0;
    margin-bottom: 16px;
    background-color: rgba(0,0,0,.05);
}