/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
}

mat-slide-toggle {
    color: rgba(0,0,0,.64);
}

mat-radio-button {
    margin: 6px;
    font-size: 15px;
    color: rgba(0,0,0,.64);
}

mat-tab-group {
    padding: 0 8px;
    margin-bottom: 8px;
    border-radius: 15px;
    background-color: #fff;
}
mat-tab-body {
    font-size: 14px;
    .mat-tab-body-content {
        padding: 0 16px;
    }
    .card-group {
        display: block;
        background: rgba(0,0,0,.03);
        padding: 8px 16px;
        margin: 16px -16px;
    }
}

a {
    color: #03a9f4;
    text-decoration: none;
}

main {
    width: 100vw;
    overflow: auto;
    background-color: rgba(0,0,0,.03);
    height: calc(100vh - 64px);
    @media (max-width: 599px) {
        height: calc(100vh - 56px);
    }
}

.content {
    padding: 24px 16px;
    margin: 0 auto;
    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
}

.logo-font {
    font-family: 'Dancing Script', cursive !important;
}

.group {
    color: rgba(0,0,0,.54);
    text-transform: uppercase;
    font-weight: bold !important;
}
mat-card {
    border-radius: 15px !important;
    .card-group {
        display: block;
        background: rgba(0,0,0,.03);
        padding: 8px 16px;
        margin: 16px -16px;
        &:first-of-type {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            margin-top: -16px !important;
        }
    }
}

.menu-group {
    margin: 0;
    padding: 8px 16px;
    color: rgba(0,0,0,.64);
    background: rgba(0,0,0,.03);
    &:first-of-type {
        margin-top: -8px;
    }
}

section {
    margin: 24px 0 48px;
}

.action-container {
    margin-top: 16px;
}

.list-btn {
    margin-bottom: 20px !important; 
    padding: 8px 16px !important;
}
