mat-card {
    padding: 0;
}

.collect-point-content {
    color: rgba(0,0,0,.64);
    .collect-point-title {
        margin: 0;
        font-weight: bold;
        line-height: 20px;
        max-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        white-space: normal;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .collect-point-creator {
        margin-top: 8px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        &::before {
            content: 'por';
            margin-right: 6px;
            font-size: 13px;
            color: rgba(0, 0, 0, .48);
        }
    }
    .collect-point-target {
        color: rgba(0,0,0,.48);
        font-size: 15px;
        font-weight: bold;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        &::before {
            content: 'para';
            margin-right: 6px;
            font-size: 14px;
        }
    }
    .collect-point-detail {
        margin-top: 8px;
    }
}

.collect-point-container {
    padding: 8px;
    height: 140px;
    border-radius: 15px;
    background-color: #cfd8dc;
    > .collect-point-category-icon {
        width: 105px;
        height: 105px;
        margin-top: 14px;
        border-radius: 50%;
        font-size: 105px;
        background-color: white;
        padding: 16px;
        color: rgba(0,0,0,.54);
        border: 8px solid #78909c;
    }
}
.social-container {
    padding-left: 160px;
    span {
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        color: rgba(0,0,0,.54);
    }
    mat-icon {
        color: rgba(0,0,0,.54);
    }
}

.type-background {
    border-radius: 15px;
    background-color: rgba(0,0,0,.05);
    > span {
        padding: 0 16px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        color: rgba(0,0,0,.67);
    }
}

mat-tab-group {
    padding: 0 8px;
    margin-bottom: 8px;
    border-radius: 15px;
    background-color: #fff;
}

mat-card.table {
    overflow: hidden;
}

.search-container {
    padding: 8px 16px;
}