<mat-card>
    <app-progress-indicator
      class="progress"
      color="#ec407a"
      symbol="star">
    </app-progress-indicator>
    <div
      fxLayout fxLayoutAlign="center center"
      class="author-image-container">
      <div class="author-image"></div>
    </div>
    <mat-card-content>
      <div class="description-container">
        <!-- <h4 class="campaign-title">{{ga?.creator}}</h4>
        <a class="author-link" href="#">{{campaign?.title}}</a>
        <p class="campaign-description">{{campaign?.description}}</p> -->
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="end center">
      <button mat-button color="primary">Ver detalhes</button>
    </mat-card-actions>
  </mat-card>