<mat-card>
  <app-progress-indicator *ngIf="collectPoint?.headOffice" class="progress" symbol="domain">
  </app-progress-indicator>
  <mat-card-content fxLayout="column" fxLayoutAlign="start center">
    <h4 class="collect-point-name">{{collectPoint?.address.district}}</h4>
    <span class="collect-point-address">{{collectPoint?.address.street}}, {{collectPoint?.address.number}}</span>
    <strong class="collect-point-address">{{collectPoint?.address.city}} - {{collectPoint?.address.state}}</strong>
    <app-marker class="collect-point-fds" *ngIf="collectPoint?.operatingInfo.weekend" name="Final de semana"
      color="black" backgroundColor="#ffecb3">
    </app-marker>
    <div class="collect-point-time">
      <span>
        Funcionamento normal das
        {{collectPoint?.operatingInfo.startTime}} horas
        às
        {{collectPoint?.operatingInfo.endTime}} horas
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayout fxLayoutAlign="start center">
    <div fxLayout fxLayoutAlign="start center" class="time-container">
      <mat-icon>schedule</mat-icon>
      <span class="time">{{ collectPoint?.expiresAt | restantDays }}</span>
    </div>
    <span fxFlex></span>
    <button mat-button color="warn">
      <mat-icon>favorite</mat-icon>
      Doar
    </button>
  </mat-card-actions>
</mat-card>