mat-card {
    padding: 0;
    margin-top: 16px;
}
mat-card-content {
    padding: 32px 16px 0;
    margin: -16px 0 0;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
mat-card-actions {
    padding: 0;
    margin-left: 16px;
}
.progress {
    top: 4px;
    right: 4px;
    position: absolute;
}
.collect-point-name {
    text-align: center;
    margin: 0 auto 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.collect-point {
    margin: 0 0 8px;
}
.collect-point-address {
    display: block;
    color: #03a9f4;
    text-align: center;
}
.collect-point-time {
    display: block;
    color: rgba(0,0,0,.54);
    margin-top: 12px;
    text-align: center;
    font-size: 11px;
}
.collect-point-fds {
    margin-top: 8px;
}

.time-container {
    color: rgba(0,0,0,.54);
    font-size: 13px;
    mat-icon {
        font-size: 13px;
        width: 13px;
        height: 13px;
        margin-right: 4px;
    }
}