<div mat-dialog-title>
  Alterar senha
</div>
<div mat-dialog-content>
  <form #updatePass="ngForm">
    <div fxLayout>
      <mat-form-field fxFlex appearance="outline" required>
        <mat-label>Senha atual</mat-label>
        <input matInput name="oldPass" [type]="visibility[0].type" [(ngModel)]="credentials.currentPassword" />
        <button type="button" matSuffix mat-icon-button (click)="toggleVisibility(0)">
          <mat-icon>{{ visibility[0].icon }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxLayout>
      <mat-form-field fxFlex appearance="outline" required>
        <mat-label>Nova senha</mat-label>
        <input matInput name="newPass" [type]="visibility[1].type" [(ngModel)]="credentials.newPassword" />
        <button type="button" matSuffix mat-icon-button (click)="toggleVisibility(1)">
          <mat-icon>{{ visibility[1].icon }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div fxLayout>
      <mat-form-field fxFlex appearance="outline" required>
        <mat-label>Confirmar senha</mat-label>
        <input matInput name="confirmPass" [type]="visibility[2].type" [(ngModel)]="confirmPassword" />
        <button type="button" matSuffix mat-icon-button (click)="toggleVisibility(2)">
          <mat-icon>{{ visibility[2].icon }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions fxLayoutAlign="end center" fxLayoutGap="8px">
  <button mat-button mat-dialog-close tabindex="-1">Cancelar</button>
  <button mat-button color="primary" [disabled]="!valid">Alterar</button>
</div>