mat-card {
    padding: 0;
    border-radius: 15px;
}
mat-card-content {
    padding: 32px 16px 0;
    margin: -16px 0 0;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    &.no-category {
        padding-top: 16px;
    }
}
mat-card-actions {
    padding: 0;
    margin-right: 0;
    margin-left: 16px;
}
.category {
    top: 4px;
    left: 4px;
    position: absolute;
}
.progress {
    top: 4px;
    right: 4px;
    position: absolute;
}
.campaign-category-container {
    background-color: #ffecb3;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    > .campaign-category-icon {
        width: 105px;
        height: 105px;
        border-radius: 50%;
        font-size: 105px;
        background-color: white;
        padding: 16px;
        margin-top: 16px;
        color: rgba(0,0,0,.54);
        border: 8px solid #ffca28;
    }
}
.campaign-title {
    margin: 0 auto 4px;
}
.author-link {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    &::before {
        content: 'por';
        margin-right: 6px;
        font-size: 13px;
        color: rgba(0, 0, 0, .48);
    }
}
.campaign-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.time-container {
    color: rgba(0,0,0,.54);
    font-size: 13px;
    mat-icon {
        font-size: 13px;
        width: 13px;
        height: 13px;
        margin-right: 4px;
    }
}