<mat-card>
  <app-marker
    *ngIf="showCategory"
    class="category"
    [name]="campaign?.category | actionCategory"
    [color]="campaign?.category | actionCategoryColor"
    [backgroundColor]="campaign?.category | actionCategoryBackgroundColor">
  </app-marker>
  <div
    *ngIf="showCategory"
    fxLayout fxLayoutAlign="center center"
    class="campaign-category-container">
    <mat-icon class="campaign-category-icon">{{campaign?.category | actionCategoryIcon}}</mat-icon>
  </div>
  <mat-card-content [class.no-category]="!showCategory">
    <div class="description-container">
      <h4 class="campaign-title">{{campaign?.title}}</h4>
      <a *ngIf="showAuthor" class="author-link" href="#">{{campaign?.creator}}</a>
      <p class="campaign-description">{{campaign?.description}}</p>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayout fxLayoutAlign="start center">
    <div fxLayout fxLayoutAlign="start center" class="time-container">
      <mat-icon>schedule</mat-icon>
      <span class="time">restam {{restantDays}} dias</span>
    </div>
    <span fxFlex></span>
    <button mat-button color="warn">
        <mat-icon>favorite</mat-icon>
        Doar
      </button>
  </mat-card-actions>
</mat-card>