<mat-card>
  <app-progress-indicator
    *ngIf="showIndicator"
    class="progress"
    symbol="star"
    color="#ffca28"
    [progress]="progress">
  </app-progress-indicator>
  <app-marker
    *ngIf="showCategory"
    class="category"
    [name]="campaign?.category | actionCategory"
    [color]="campaign?.category | actionCategoryColor"
    [backgroundColor]="campaign?.category | actionCategoryBackgroundColor">
  </app-marker>
  <div fxLayout fxLayoutAlign="center center" class="author-image-container">
    <div class="author-image"></div>
  </div>
  <mat-card-content>
    <div class="description-container">
      <h4 class="campaign-title">{{campaign?.title}}</h4>
      <a *ngIf="showAuthor" class="author-link" href="#">{{campaign?.creator}}</a>
      <p class="campaign-description">{{campaign?.description}}</p>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayout fxLayoutAlign="start center">
    <div fxLayout fxLayoutAlign="start center" class="time-container">
      <mat-icon>schedule</mat-icon>
      <span class="time">restam {{restantDays}} dias</span>
    </div>
    <span fxFlex></span>
    <button mat-button color="warn">
        <mat-icon>favorite</mat-icon>
        Doar
      </button>
  </mat-card-actions>
</mat-card>