<main>
    <div class="content">
        <h1 class="mat-h1">Olá, Victor Frazão</h1>
        <section fxLayout>
            <app-user-contribution icon="favorite" label="Ajuda em Meta" fxFlex></app-user-contribution>
            <app-user-contribution icon="group" label="Ajuda em Campanha" fxFlex></app-user-contribution>
            <app-user-contribution icon="add_location" label="Ponto de Coleta Próprio" fxFlex></app-user-contribution>
            <app-user-contribution icon="group_add" label="Campanha Própria" fxFlex></app-user-contribution>
        </section>
        <section>
            <h4 class="mat-h4 group">Últimas contribuições</h4>
            <div class="contributions-container-container" fxLayout="row wrap" fxLayoutAlign="start stretch"
                fxLayoutGap="8px">
                <app-campaign-card *ngFor="let _ of [1, 2, 3]" fxFlex.xs fxFlex.sm="calc(50% - 8px)"
                    fxFlex.md="calc(33% - 8px)" fxFlex.gt-md="calc(25% - 8px)">
                </app-campaign-card>
            </div>
            <div fxLayout fxLayoutAlign="end">
                <button mat-button color="primary"> Ver todas</button>
            </div>
        </section>
    </div>
</main>