<main>
    <div class="content">
        <div *ngIf="isOwner" fxLayout fxLayoutAlign="start center">
            <h3 class="mat-h3" fxFlex>OLÁ, {{user?.name}}</h3>
            <button mat-button color="primary">
                <mat-icon>edit</mat-icon>
                Editar Perfil
            </button>
        </div>
        <mat-card fxLayout>
            <app-user-contribution icon="favorite" label="Ajuda em Meta" fxFlex></app-user-contribution>
            <app-user-contribution icon="group" label="Ajuda em Campanha" fxFlex></app-user-contribution>
            <app-user-contribution icon="add_location" label="Ponto de Coleta Próprio" fxFlex></app-user-contribution>
            <app-user-contribution icon="group_add" label="Campanha Própria" fxFlex></app-user-contribution>
        </mat-card>
        <section>
            <div fxLayout fxLayoutAlign="start center">
                <h4 fxFlex class="mat-h4 group">Minhas Atividades</h4>
                <mat-radio-group [(ngModel)]="activity">
                    <mat-radio-button
                        [value]="act"
                        *ngFor="let act of activities">{{act}}</mat-radio-button>
                </mat-radio-group>
            </div>
            <mat-tab-group class="mat-elevation-z1">
                <mat-tab label="Ativos"></mat-tab>
                <mat-tab label="Pendentes"></mat-tab>
            </mat-tab-group>
            <div fxLayout fxLayoutGap="16px">
                <ng-container *ngIf="hasCollectPoints; else emptyCollectPoints">
                    <app-collect-point-card *ngFor="let collectPoint of collectPoints">
                    </app-collect-point-card>
                </ng-container>
                <ng-template #emptyCollectPoints>
                    <app-empty-mark
                        fxFlex
                        [hasAction]="true"
                        [activity]="activity"
                        (action)="onCreateActivity()">
                    </app-empty-mark>
                </ng-template>
            </div>
        </section>
    </div>
</main>