app-goal-card,
app-campaign-card,
app-foundation-card {
    margin-bottom: 16px;
}

mat-tab-group {
    padding: 0 8px;
    margin-bottom: 8px;
    border-radius: 15px;
    background-color: #fff;
}

h3.mat-h3 {
    font-weight: bold;
}

section {
    margin: 24px 0 48px;
}

.contributions-container {
    margin-right: -8px;
}