<main>
    <div class="content">
        <div *ngIf="isOwner" fxLayout fxLayoutAlign="start center">
            <h3 class="mat-h3" fxFlex>OLÁ, {{user?.name}}</h3>
        </div>
        <mat-card fxLayout>
            <app-user-contribution icon="favorite" label="Ajuda em Meta" fxFlex></app-user-contribution>
            <app-user-contribution icon="group" label="Ajuda em Campanha" fxFlex></app-user-contribution>
            <app-user-contribution icon="add_location" label="Ponto de Coleta Próprio" fxFlex></app-user-contribution>
            <app-user-contribution icon="group_add" label="Campanha Própria" fxFlex></app-user-contribution>
        </mat-card>
        <section>
            <div fxLayout fxLayoutAlign="start center">
                <h4 fxFlex class="mat-h4 group">Minhas Atividades</h4>
                <button mat-button color="primary" (click)="onCreateActivity()">
                    <mat-icon>add</mat-icon>
                    Adicionar {{activity}}
                </button>
            </div>
            <mat-tab-group (selectedTabChange)="onChangeTab($event)" class="mat-elevation-z1">
                <mat-tab [label]="act" *ngFor="let act of activities"></mat-tab>
            </mat-tab-group>
            <div fxLayout fxLayoutGap="16px">
                <ng-container *ngIf="datasource?.length; else emptyCollectPoints">
                    <ng-container *ngIf="isCampaign">
                        <app-campaign-card
                            *ngFor="let item of datasource"
                            [showAuthor]="false"
                            [campaign]="item">
                        </app-campaign-card>
                    </ng-container>
                    <ng-container *ngIf="isCollectPoint">
                        <app-collect-point-card
                            *ngFor="let item of datasource"
                            [collectPoint]="item">
                        </app-collect-point-card>
                    </ng-container>
                </ng-container>
                <ng-template #emptyCollectPoints>
                    <app-empty-mark
                        fxFlex
                        [hasAction]="true"
                        [activity]="activity"
                        (action)="onCreateActivity()">
                    </app-empty-mark>
                </ng-template>
            </div>
        </section>
    </div>
</main>