h1 {
    color: white;
    text-align: center;
}

main {
    background-color: #03a9f4;
}

.content {
    height: 100%;
}

.divider {
    margin: 16px 0 8px;
    > span {
        width: 100%;
        text-align: center;
        color: rgba(0,0,0,.54);
    }
}